@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
*, *::before, *::after{
  box-sizing: border-box;
}

body{
  background-color: white;
  height: 100%;
  width: 100%;
}
/*GENERAL*/
hr{
  display: flex;
    border-style: inset;
    border-width: 2px;
    border-color: black;
}
p{
  padding: 0;
  margin: 0;
}

.section-wrapper:nth-child(1){
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.section-wrapper:nth-child(2){
  width: 100%;
  padding-left: 144px;
  padding-right: 144px;
}
.section-wrapper:nth-child(3){
  width: 100%;
  height: 100vh;
  background-color: white;
  padding-left: 144px;
  padding-right: 144px;
}
.section-wrapper:nth-child(4){
  width: 100%;
  height:auto;
  position: relative;
  overflow: hidden;
  padding-left: 144px;
  padding-right: 144px;
}
.section-wrapper:nth-child(5){
  width: 100%;
  overflow: hidden;
}
.section-wrapper:nth-child(6){
  width: 100%;
  height: auto;

  overflow: hidden;
  padding-left: 144px;
  padding-right: 144px;
}
.section-wrapper{
  overflow: hidden;
}
.line {
  width: 32px;
  height: 32px;
}
/*Buttons*/
.button{
  display: -webkit-flex;
  display: flex;
  width: 320px;
  height: 50px;
  border-radius: 50px;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  font-family: 'Quicksand', san-serif;
  font-weight: 600;
  transition: 0.5s;
  cursor: pointer;
}
.button-card{
  display: -webkit-flex;
  display: flex;
  width: 200px;
  height: 52px;
  border-radius: 50px;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  font-family: 'Quicksand', san-serif;
  font-weight: 600;
  transition: 0.5s;
  cursor: pointer;
}
.button-gradient{
  background: red; /* For browsers that do not support gradients */ /* For Safari 5.1 to 6.0 */ /* For Opera 11.1 to 12.0 */ /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #fc6076 , #ff9a44); /* Standard syntax */
}
.button-gradient:hover{
  background: white;
  color:black;
}
.button-responsive{
  width:100% !important;
  height: 50px !important;
}
.button-secondary{
  background: white;
  color: black;
}
.button-outline{
  border: 2px solid white;
}
.button-outline:hover{
  height: 300px!important;
  width: 300px!important;
  border-radius: 250px;
  background-color: rgba(255, 255, 255, 0)!important;
  color: white!important;
}
.button-secondary:hover{ /* For Safari 5.1 to 6.0 */ /* For Opera 11.1 to 12.0 */ /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #fc6076 , #ff9a44); /* Standard syntax */
  color:white;
}
a.button{
  text-decoration: none;
  color: white;
}
a.button-secondary{
  text-decoration: none;
  color: black;
}
.div-row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  display: -webkit-flex;
  -webkit-flex-direction:row;
  -webkit-flex-wrap:nowrap;
  -webkit-flex-grow:1;
}
.row-h100{
  height: 100%;
}
.no-gutter{
  padding: 0 !important;
  margin: 0;
}

.div-col-25, .div-col-100{
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: stretch;
}
.div-col-25{
  flex: 0 0 25%;
  -webkit-flex: 0 0 25%;
  max-width: 25%;
  display: flex;
  display: -webkit-flex;
}
.div-col-20{
  flex: 0 0 20%;
  -webkit-flex: 0 0 20%;
  max-width: 20%;
  display: flex;
  display: -webkit-flex;

}
.div-col-100{
  flex: 0 0 100%;
  max-width: 100%;
}
.section-box{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-flex-wrap: nowrap;
}
.service-title{
  width: 100%;
  padding: 52px 20px 67px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Quicksand';
  font-weight: 700;
}
.service-title h5{
  color:orange;
  font-size: 32px;
}
.S4-title h5{
  color: white;
}
/* ============= NAVIGATION ============= */
.nav-wrapper{
  position: absolute;
  width: 100%;
  padding: 32px 144px 32px 144px;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -webkit-align-items: flex-start;
          align-items: flex-start;
}
.nav-links{
  height: 100%;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.links{
  padding: 0;
  margin:0;
  list-style: none;
  display:-webkit-flex;
  display:flex;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
  color:white;
}
.links li{
  padding-left: 40px;
}
.nav-links-mobile{
  display: none;
}
.nav-logo-mobile{
  display: none;
}
#menu-mobile-label{
  position: relative;
  z-index: 999;
  cursor: pointer;
}
/* ============= HERO =============*/
.hero-wrapper{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image:  linear-gradient(rgba(252, 96, 118, 0.50), rgba(255, 154, 68, 0.50)), url('../images/bg.jpg');
  background-position: center bottom ;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-display: flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-justify-content: center;
}
#hero-title{
  width: 100%;
  height: 60%;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 4.5em;
  padding: 20px;
  display: -webkit-flex;
  display: flex;
  text-align: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}
/* ============= SERVICE ============= */
.card-deck-wrapper{
  width: 100%;

}
.desktop-card-deck{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
/*desktop*/
.card--piece{
  height: 390px;
  width: 260px;
  margin-left: 18px;
  margin-right: 18px;
  padding: 40px 20px 40px 20px;
  transition: 0.5s;
  color: #757575;
}
.card--piece:hover{
  transform: scale(1.15);
  box-shadow: 0em 1em 2em -1em rgba(48, 48, 48, 0.7);
  color: white;
}
.card--piece:hover .button-secondary{
  background: linear-gradient(to right, #fc6076 , #ff9a44); /* Standard syntax */
  color:white;
}
.card--piece:hover .divider{
  width: 32px;
  height: 32px;
  background-image: url('../images/line-white.png');
}
.card--piece:nth-of-type(1){
  background-image: url('../images/card1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card--piece:nth-of-type(1):hover{
  background-image:linear-gradient(rgba(252, 96, 118, 0.50), rgba(255, 154, 68, 0.50)), url('../images/card1.png');
}
.card--piece:nth-of-type(2){
  background-image:  url('../images/card2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card--piece:nth-of-type(2):hover{
  background-image:linear-gradient(rgba(252, 96, 118, 0.50), rgba(255, 154, 68, 0.50)), url('../images/card2.jpg');
}
.card--piece:nth-of-type(3){
  background-image: url('../images/card3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card--piece:nth-of-type(3):hover{
  background-image:linear-gradient(rgba(252, 96, 118, 0.50), rgba(255, 154, 68, 0.50)), url('../images/card3.png');
}
.card--piece:nth-of-type(4){
  background-image: url('../images/card4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card--piece:nth-of-type(4):hover{
  background-image:linear-gradient(rgba(252, 96, 118, 0.50), rgba(255, 154, 68, 0.50)), url('../images/card4.png');
}

.card--title{
  margin: 0;
	height: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
  	color: inherit;
}
.card--divider{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}
.divider{
  width: 32px;
  height: 32px;
  background-image: url('../images/line.png');
}
.card--content{
  width: 220px;
  height: 160px;
  text-align: center;
  font-size: 0.9em;
  	color: inherit;
}
.card--divider img{
  margin: auto;
}
.card--button{
  width: 100%;
  margin-top: 32px;
  display: flex;
  justify-content: center;
}
/*mobile*/
.mobile-card-deck{
  display: none;
  justify-content: center;
}
.indicator{
  visibility: hidden;
  width: 100%;
  height: auto;
  padding: 30px 20px 30px 20px;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  font-family: 'Quicksand';
  font-weight: 700;
}
.indicator a{
  width: 20px;
  height: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: 2px solid rgba(247, 136, 47,1);*/
}
.indicator a.active{
  border: 2px solid rgba(247, 136, 47,1);
}
.indicator a span{
  width: 10px;
  height: 10px;
  background-color: rgba(247, 136, 47,0.3);
  border-radius: 10px;
}
.indicator a span.active{
  width: 10px;
  height:10px;
  background-color: rgba(247, 136, 47,1);
  border-radius: 10px;
}
/* ============= COMPANY LOGO =============*/
.logo-box{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;
}
.Company-Logos{
  margin: auto;
  display: flex;
  justify-content: center;
  align-self: center;
  flex: 0 0 auto;
  display: -webkit-fex;
  -webkit-justify-content: center;
  -webkit-align-self:center;
}
.section-box-shadow{
  border-top: 1px dashed gray;
}
/* ============= DEVICE =============*/
.device-box{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex:1;
}
.device-img-wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 2;
}
.device-img-wrapper img{
  min-width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 200px;
}
.device-info-wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex:1;
}
.device-info-wrapper .info-text{
  padding: 20px;
  color: white;
}
.device-info-wrapper .info-button{
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
}
.device-bg{
  width: 100%;
  height: 85%;
  background-image:  linear-gradient(rgba(252, 96, 118, 0.80), rgba(255, 154, 68, 0.80)), url('../images/chart.png');
  background-position: center bottom ;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  position: absolute;
  top:0;
  left: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-display: flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-justify-content: center;
}
.liftbox{
  position: relative;
  z-index: 1;
}
/* ============= GRID =============*/
.grid-desktop{
  display: flex;
}
.grid{
  flex: 1;
  display: flex;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-flex: 1;
  -webkit-flex-direction: column;
}
.grid-row{

  display: flex;
  flex: 1 1 auto;
}
.grid-row-2{
  position: relative;
  height: 470px;
}

.rec-img{
  flex: 1;
}
.square-img{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.square-img img{
  height: auto;
  width: 100%;
}

.rec-img-1{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.rec-img-1-box{
  padding-left: 144px;
  display: flex;
  flex-direction: column;
  margin: auto auto auto 50px;
  font-family: 'Quicksand';
  color:#f7882f;
}
.rec-img-1-box h1{
  font-weight: 700;
  font-size: 80px;
}
.rec-img-1-box div:nth-child(3){
  padding-top: 40px;
}
.rec-img-2{
      background:  linear-gradient(rgba(252, 96, 118, 1), rgba(255, 154, 68, 1));
      display: flex;
      justify-content: center;
      align-items: center;
}
.rec-img-2 .button{
  height: 100px;
  color: white;
  font-size: 40px;
  position: relative;
  z-index: 10;
}
.rec-img-2 .button:hover{
  height: 100px;
  color: gray;
  background-color: white;
  font-size: 40px;
}
.pattern{
  position:absolute;
  width: 100%;
  height: 100%;
  display: flex;
}
.pattern img{
  margin: auto;

}

.grid-mobile{
  display: none;
}
/*============= CONTACT ================*/
.contact-grid{
  background-color: white;
  display: flex;
  flex-direction: column;
  -webkit-direction:column;
  padding: 20px;
  padding-bottom: 0;
}
.contact-row{

  flex: 1;
  display: flex;
  flex-wrap: wrap;
}
.contact-row-2{
  border-bottom: 1px solid #e2e2e2;
}
.contact-column{
  flex:1 1 auto;
  -webkit-flex:1 1 auto;
  display: flex;
}
.contact-column-2{
  flex:2 1 auto !important;
  display: flex;
  flex-wrap: wrap;
}

.contact-emailtxt-wrapper{
  width: 100%;
  display: flex;
  padding-bottom: 30px;
  justify-content: center;
}
.contact-emailtxt{
  width: 50%;
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid #bababa;
}
.contact-emailtxt input{
  border: 0;
  flex:1;
  height: 30px;
  background-color: rgba(255, 255, 255, 0);
  font-family: 'Quicksand';
  font-weight: 400;
}
.contact-emailtxt input:focus{
  outline: 0;
}
.contact-emailtxt span{
  border: 0;
  flex-basis: 40px;
}
.contact-social-wrapper{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.social-icon{
  padding-left: 16px;
}

.contact-links-wrapper{
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}
.contact-links{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}
.contact-links li{
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Quicksand';
  font-weight: 600;
}
.contact-links li:first-child{
  padding-left: 0px;
  padding-right: 10px;
}
.contact-links li:last-child{
  padding-left: 10px;
  padding-right: 0px;
}
.copyright-wrapper{
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.copyright{
  font-family: 'Quicksand';
  font-weight: 400;
  text-align: center;
}
@media (max-width: 1440px) {
  .desktop-card-deck{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
  #hero-title{
    width: 100%;
    height: 60%;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 3em;
    padding: 20px;
    display: -webkit-flex;
    display: flex;
    text-align: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-items: center;
            align-items: center;
  }

  .section-wrapper:nth-child(4){

    padding-left: 72px;
    padding-right: 72px;
  }

  .rec-img-1-box{
    padding-left: 72px;
    display: flex;
    flex-direction: column;
    margin: auto auto auto 50px;
    font-family: 'Quicksand';
    color:#f7882f;
  }
}
@media (max-width: 1200px) {
  .desktop-card-deck{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .card--piece{
    margin: 0;
    margin: 10px;
  }
  .card--piece:first-child{
    margin-left: 10px;
  }
  .card--piece:last-child{
    margin-right: 10px;
  }
  .contact-grid{
    background-color: white;
    display: flex;
    flex-direction: column;
    -webkit-direction:column;
    padding: 0;
    padding-top:20px;
    padding-bottom: 0;
  }
  .contact-row-1{
    flex:1;
    display: flex;
    flex-direction: column;
    -webkit-display: flex;
    -webkit-flex-direction: column;
  }
  .contact-logo{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }
  .contact-social-wrapper{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content:center;
  }
  .contact-emailtxt-wrapper{
    width: 100%;
    display: flex;
    padding-bottom: 30px;
    padding-top: 30px;
    justify-content: center;
  }
  .contact-emailtxt{
    width: 100%;
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid #bababa;
  }
  .contact-links-wrapper{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }
  .contact-links{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    padding: 0;
  }
  .contact-links li{
    padding: 0;
    padding: 10px;
    font-family: 'Quicksand';
    font-weight: 600;
  }
  .contact-links li:first-child{
    padding-left: 10px;
    padding-right: 10px;
  }
  .contact-links li:last-child{
    padding-left: 10px;
    padding-right: 10px;
  }
  .device-info-wrapper .info-text{
    padding: 20px;
    color: white;
    font-size: 12px;
  }
  .section-wrapper:nth-child(2){
    padding-left: 36px;
    padding-right: 36px;
  }
  .section-wrapper:nth-child(3){
    width: 100%;
    height:100vh;
    padding-left: 12px;
    padding-right: 12px;
  }
  .section-wrapper:nth-child(4){

    padding-left: 12px;
    padding-right: 12px;
  }
  .nav-wrapper{
    position: absolute;
    width: 100%;
    padding: 20px;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: flex-start;
    -webkit-align-items: flex-start;
  }
  .nav-logo{
    display: none;
  }
  .nav-logo-mobile{
    display: block;
  }
  .nav-links{
    display: none;
  }
  .nav-links-mobile{
    display: block;

  }
  #menu-mobile-toggle:checked ~ .menu-mobile-list{
    display: block;
    transition: 1s;
    -webkit-animation: Navigationbar-fadeIn 0.3s;
    animation: Navigationbar-fadeIn 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  #menu-mobile-label{
     transition: 0.5s;
  }
 #menu-mobile-toggle:checked ~ #menu-mobile-label{
   transform: rotate(90deg);
   transition: 0.5s;
 }
  .menu-mobile-list{
    display:none;
    position: absolute;
    z-index: 900;
    height: 100vh;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
      background:  linear-gradient(rgba(252, 96, 118, 1), rgba(255, 154, 68, 1));
    -webkit-animation: Navigationbar-fadeOut 0.3s;
    animation: Navigationbar-fadeOut 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .links{
    height: 100%;
    list-style: none;
    display:-webkit-flex;
    display:flex;
    -webkit-justify-content: space-around;
            justify-content: space-around;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
            align-items: center;
    color:white;
  }
  .links li{
    font-size:34px;
    padding: 0;
    font-family: 'Quicksand';
    font-weight: 700!important;
  }
  #hero-title{
    height: 80%;
    color: white;
    font-size: 3.125em;
    padding: 1rem !important;
    display: -webkit-flex;
    display: flex;
    text-align: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-items: center;
            align-items: center;
    padding: 0px;
  }
  .logo-box{
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    display: -webkit-flex;
    -webkit-flex-grow:1;
    -webkit-flex-direction:column;
    -webkit-flex-wrap:nowrap;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 20px;
    position: relative;
  }



  .logo-box .div-row{
    justify-content: space-between;
  }
  .Company-Logos{
    display: flex;
    height: auto;
    flex-basis: auto;
    padding: 20px;
  }
  .card-mobile{
    display: none;
  }
  .rec-img-1-box{
    padding-left: 36px;
    display: flex;
    flex-direction: column;
    margin: auto auto auto 50px;
    font-family: 'Quicksand';
    color:#f7882f;
  }
}
@media (max-width: 1000px){
  .section-wrapper:nth-child(6){
    width: 100%;
    height: auto;

    overflow: hidden;
    padding-left: 72px;
    padding-right: 72px;
  }
  .device-box{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction:column;
    flex:1;
    -webkit-flex:1;
  }
  .device-info-wrapper{
    order:1;
  }
  .device-img-wrapper{
    order: 2;
  }
  .device-info-wrapper .info-text{
    padding: 20px;
    padding-top: 0;
    font-size: 14px;
    text-align: center;
  }
  .device-info-wrapper .info-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .section-wrapper:nth-child(2){
    padding-left: 18px;
    padding-right: 18px;
  }

  .card-desktop{
    display: none !important;
  }
  .card-mobile{
    display: flex !important;
  }
  .Tcard-mobile{
    box-shadow: 0em 1em 3em -1em rgba(0, 0, 0,0.5),
  							0em 0em 1em -1em rgba(0, 0, 0,0.7);
  }
  .Tcard-mobile .Tcard-title{
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 30px;
    color: white !important;
    text-align: center;
  }
  .Tcard-mobile .Tcard-content{
    text-align: center;
    color: white;
  }
  .grid-desktop{
    display: none;
  }
  .grid-mobile{
    display: flex;
    height: 100%;
    flex-direction: column;
    flex:1;
    }
  .grid-mobile .grid-row-1{
    position: relative;
    display: flex;
    flex-direction: column;

  }
  .grid-mobile .grid-row-2{
    display: flex;
    flex-direction: column;
    -webkit-flex-direction:column;
    height: 1200px;
  }
  .grid-mobile .rec-img-1{
    text-align: center;
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    -webkit-justify-content: flex-start;
    -webkit-align-items: center;
    font-family: 'Quicksand';
    color:#f7882f;
  }
  .grid-mobile .rec-img-1 h1{
    padding-top: 20px;
    font-weight: 700;
    font-size: 60px;
  }
  .grid-mobile .rec-img-1 p{
    font-weight: 700;

  }
  .slide-arrow{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content:space-between;
    align-items: center;
    -webkit-align-items: center;
  }
  .slide-arrow button{
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 20px;
    height: 50px;
    width: 50px;
    background-color: white;
    border: 0;
    color:#f7c331;
  }
  .slide-arrow button:active{
    background-color: orange;
    color:white;
  }
}
@media (max-width: 768px) {
  .section-wrapper:nth-child(6){
    width: 100%;
    height: auto;

    overflow: hidden;
    padding-left: 36px;
    padding-right: 36px;
  }
  #hero-title{
    color: white;
    font-size: 2.5em;
    display: -webkit-flex;
    display: flex;
    padding: 2rem !important;
    text-align: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-items: center;
            align-items: center;
    padding: 0px;
  }


}
@media (max-width: 576px) {
  .section-wrapper:nth-child(2){
    padding-left: 12px;
    padding-right: 12px;
  }
  .section-wrapper:nth-child(6){
    width: 100%;
    height: auto;

    overflow: hidden;
    padding-left: 18px;
    padding-right: 18px;
  }
  #hero-title{
    height: auto;
    color: white;
    font-size: 2.5em;
    display: -webkit-flex;
    display: flex;
    padding: 2rem;
    text-align: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-items: center;
            align-items: center;
    padding: 0px;
  }
  .indicator{
    visibility: visible;
    width: 100%;
    height: auto;
    padding: 30px 60px 30px 60px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    font-family: 'Quicksand';
    font-weight: 700;
  }
  .button{
    display: -webkit-flex;
    display: flex;
    width: 280px;
    height: 50px;
    margin-top: 0px;
    border-radius: 50px;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
    font-family: 'Quicksand', san-serif;
    font-weight: 600;
  }
  .Company-Logos{
    display: flex;
    height: auto;
    flex-basis: auto;
    padding: 0px;
  }
  .desktop-card-deck{
    display: none;
  }
  .mobile-card-deck{
    display: flex;
    justify-content: center;
  }
  .card--piece{
    margin: 0;
    width: 272px;
    height: 349px;
    padding-bottom: 32px;
    padding-top: 32px;
  }
  .card--content{
    height: 144px;
    width: 232px;
  }
  .button-card{
    height: 48px;
    width: 240px;
  }
  .card--piece .button-secondary{ background: linear-gradient(to right, #fc6076 , #ff9a44); /* Standard syntax */ color:white;
  }
  .card--piece{
    transform: scale(1);
    box-shadow: 0em 1em 2em -1em rgba(48, 48, 48, 0.7);
    color: white;
  }

  .card--piece:hover {
    transform: scale(1);
    box-shadow: 0em 1em 2em -1em rgba(48, 48, 48, 0.7);
    color: white;
  }
  .card--divider{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
  }
  .divider{
    width: 32px;
    height: 32px;
    background-image: url('../images/line-white.png');
  }
  .service-title{
    width: 100%;
    padding: 40px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand';
    font-weight: 700;
    text-align: center;
  }
  .card--piece:nth-of-type(1){
    background-image:linear-gradient(rgba(252, 96, 118, 0.50), rgba(255, 154, 68, 0.50)), url('../images/card1.png');
  }
  .card--piece:nth-of-type(2){
    background-image:linear-gradient(rgba(252, 96, 118, 0.50), rgba(255, 154, 68, 0.50)), url('../images/card2.jpg');
  }
  .card--piece:nth-of-type(3){
    background-image:linear-gradient(rgba(252, 96, 118, 0.50), rgba(255, 154, 68, 0.50)), url('../images/card3.png');
  }
  .card--piece:nth-of-type(4){
    background-image:linear-gradient(rgba(252, 96, 118, 0.50), rgba(255, 154, 68, 0.50)), url('../images/card4.png');
  }
  .card--piece:first-child{
    margin-left: 0px;
  }
  .card--piece:last-child{
    margin-right: 0px;
  }
}
@media (max-width: 320px) {
  #hero-title{
    width: 100%;
    height: 60%;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    padding: 20px;
    display: -webkit-flex;
    display: flex;
    text-align: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-items: center;
            align-items: center;
  }
  .Company-Logos{
    display: flex;
    height: 40px;
    flex-basis: auto;
    padding: 0px;
  }
  .section-wrapper:nth-child(6){
    width: 100%;
    height: auto;

    overflow: hidden;
    padding-left: 9px;
    padding-right: 9px;
  }
}

@-webkit-keyframes Navigationbar-fadeIn {
    0% {
        clip: rect(1px, 1px, 1px, 1px);
        position: absolute;
        opacity: 0;
    }

    1% {
        position: absolute;
        clip: auto;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes Navigationbar-fadeIn {
    0% {
        clip: rect(1px, 1px, 1px, 1px);
        position: absolute;
        opacity: 0
    }

    1% {
        position: absolute;
        clip: auto;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-webkit-keyframes Navigationbar-fadeOut {
    0% {
        position: absolute;
        clip: auto;
        opacity: 1
    }

    99% {
        opacity: 0
    }

    100% {
        clip: rect(1px, 1px, 1px, 1px);
        position: absolute;
        opacity: 0
    }
}
@keyframes Navigationbar-fadeOut {
    0% {
        position: absolute;
        clip: auto;
        opacity: 1;
    }

    99% {
        opacity: 0;
    }

    100% {
        clip: rect(1px, 1px, 1px, 1px);
        position: absolute;
        opacity: 0;
    }
}
