.grid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  width: 100%; }

.grid--row {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.gutter{
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.grid--col-1, .grid--col-2, .grid--col-3, .grid--col-4, .grid--col-5, .grid--col-6, .grid--col-7, .grid--col-8, .grid--col-9, .grid--col-10, .grid--col-11, .grid--col-12 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;

}

.grid--col-1 {
  width: 8.3333%; }

.grid--col-2 {
  width: 16.3333%; }

.grid--col-3 {
  width: 24.9999%; }

.grid--col-4 {
  width: 33.3333%; }

.grid--col-5 {
  width: 41.665%; }

.grid--col-6 {
  width: 50%; }

.grid--col-7 {
  width: 58.331%; }

.grid--col-8 {
  width: 66.664%; }

.grid--col-9 {
  width: 74.997%; }

.grid--col-10 {
  width: 83.33%; }

.grid--col-11 {
  width: 91.663%; }

.grid--col-12 {
  width: 100%; }

@media (max-width:1200px) {
  .grid--col-1, .grid--col-2, .grid--col-3, .grid--col-4, .grid--col-5, .grid--col-6, .grid--col-7, .grid--col-8, .grid--col-9, .grid--col-10, .grid--col-11, .grid--col-12 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    width: 100%;
  }

  .grid--row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }

}
