
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700i|Roboto:100,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Signika:300,400,600,700');
@import "./animation";
@font-face {
    font-family: myFirstFont;
    src: url('../font/Asgalt-Regular.ttf');
}
$primary-color: rgba(255, 100, 42,1);
$secondary-color-1: rgba(0,0,0,1);
$secondary-color-2: rgba(255,255,255,1);
$border-color:rgb(200, 200, 200);
$hero-2:url('../images/FasionT-images/Jumpo11.jpg');
/*=========== LAYOUT ===========*/
.grid{
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}
.grid--row{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.grid--col-1,.grid--col-2,.grid--col-3,.grid--col-4,.grid--col-5,.grid--col-6,.grid--col-7,.grid--col-8,.grid--col-9,.grid--col-10,.grid--col-11,.grid--col-12{
  display: flex;
  flex-flow: column wrap;
}
.grid--col-1{
  width: 8.3333%;
}
.grid--col-2{
  width: 16.3333%;
}
.grid--col-3{
  width: 24.9999%;
}
.grid--col-4{
  width: 33.3333%;
}
.grid--col-5{
  width: 41.665%;
}
.grid--col-6{
  width: 50%;
}
.grid--col-7{
  width: 58.331%;
}
.grid--col-8{
  width: 66.664%;
}
.grid--col-9{
  width: 74.997%;
}
.grid--col-10{
  width: 83.33%;
}
.grid--col-11{
  width: 91.663%;
}
.grid--col-12{
  width: 100%;
}

.grid--col-md-1,.grid--col-md-2,.grid--col-md-3,.grid--col-md-4,.grid--col-md-5,.grid--col-md-6,.grid--col-md-7,.grid--col-md-8,.grid--col-md-9,.grid--col-md-10,.grid--col-md-11,.grid--col-md-12{
  display: flex;
  flex-flow: column wrap;
}
.grid--col-md-1{
  width: 8.3333%;
}
.grid--col-md-2{
  width: 16.3333%;
}
.grid--col-md-3{
  width: 24.9999%;
}
.grid--col-md-4{
  width: 33.3333%;
}
.grid--col-md-5{
  width: 41.665%;
}
.grid--col-md-6{
  width: 50%;
}
.grid--col-md-7{
  width: 58.331%;
}
.grid--col-md-8{
  width: 66.664%;
}
.grid--col-md-9{
  width: 74.997%;
}
.grid--col-md-10{
  width: 83.33%;
}
.grid--col-md-11{
  width: 91.663%;
}
.grid--col-md-12{
  width: 100%;
}
.img-responsive{
  width: 100%;
}

/*==============================*/
*, *::before, *::after{
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  font-family: 'Signika', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
  &:hover{
    text-decoration: none;
    color: inherit;
  }
  &:active{
    text-decoration: none;
    color: inherit;
  }
  &:focus{
    text-decoration: none;
    color: inherit;
  }
  &:visited{
    text-decoration: none;
    color: inherit;
  }
}
.section-wrapper{
  width: 100%;
  height: auto;
}
.page-wrapper{
  width: 100%;
  overflow: hidden;
}
.material-icons{
  font-size: 36px;
  color: white;
}
/*============== NAVIGATION =================*/
.navbar-wrapper{
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  .logo-wrapper{
    font-family: 'Signika', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin: auto;
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    color: white;
  }
  .burger-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 36px;
    label{
      padding: 0;
      margin: 0;
      height: 100%;
      display: flex;
      align-items: center;
    }
    .nav-list-wrapper{
      display: none;
      .nav-list{
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;

      }
      .nav-list-logo{
        margin-top: 15px;
        margin-bottom: auto;
      }
      .nav-list-items{
        list-style: none;
        display: flex;
        width: 100%;
        margin-bottom: auto;
        flex-direction: row;
        justify-content: center;
      }
      .nav-list li{
        width: 100%;
      }
      .nav-list a{
        text-decoration: none;
        height: 100px;
        width: 100%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Signika';
        font-weight: 400;
        font-size: 30px;
        text-transform: uppercase;
        transition: 0.2s;
      }
      .nav-list a:hover{
        color: $primary-color;
      }
    }
    label[for="burger-toggle"]{
      z-index: 999;
      transition: 0.5s;
      cursor: pointer;
    }
    #burger-toggle:checked ~ label[for="burger-toggle"]{
      transition: 0.5s;
      color: $primary-color;
      transform: rotateY(-180deg) rotate(90deg);
    }
    #burger-toggle:checked ~ .nav-list-wrapper{
      display: flex;
      height: 100vh;
      width: 100%;
      background-color: $secondary-color-1;
      position: absolute;
      top:0;
      left: 0;
      z-index: 900;
      transition: 2s;
    }
  }
}
@keyframes border-slide {
  0%{
    border-bottom: 0px solid rgb(191, 167, 5);
  }
  100%{
    border-bottom: 2px solid rgb(191, 167, 5);
  }
}
/*========= HERO =========*/
.hero-wrapper{
  width: 100%;
  height: 100vh;
  background: url('../images/FasionT-images/Jumpo10.jpg');
  background-position:center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  .hero-items-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .hero-title{
    font-family: 'Signika', sans-serif;
    font-weight: 700;
    font-size: 6em;
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-title span{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }
  .hero-button{
    display: flex;
    margin-top: auto;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border: 1px solid white;
    width: 150px;
    height: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    &:hover{
      background-color: white;
      color:black;
    }
  }

}
.hero2-wrapper{
  width: 100%;
  height: 100vh;
  background: $hero-2;
  background-position:center right;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color:$secondary-color-2;
  text-transform: uppercase;
  .hero-items-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    padding-left: 100px;
  }
  .hero-title{
    font-family: 'Signika', sans-serif;
    font-weight: 400;
    font-size:3em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $secondary-color-2;
  }
  .hero-divider{
    height: 5px;
    width: 50px;
    background-color: $primary-color;
    margin:15px 0 15px 0;
  }
  .hero-small{
    margin:15px 0 15px 0;
    font-size:1.5em;
    color: $secondary-color-2;
  }
  .hero-button{
    margin:15px 0 15px 0;
    height: 50px;
    width: 200px;
    background-color: $primary-color;
    color:$secondary-color-2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Signika', sans-serif;
  }
}

/* ========== Featur Product ===========*/
.product-filter-wrapper{
  background-color: $secondary-color-2;
  width: 100%;
  .product-filter-title-wrapper{
    height: 100%;
    width: 100%;
    height: 80px;
    // background-color: $primary-color;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $border-color;
    .product-filter-title{
      padding-left: 5%;
      font-family: 'Signika';
      font-weight: 400;
      font-size: 20px;
      text-transform: uppercase;
    }
  }
  .product-filter-button-wrapper{
    height: 100%;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    .product-filter-button{
      width: 50%;
      height: 50%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s;
      border: 1px solid $border-color;
    }
    .product-filter-button:hover{
      background-color: $primary-color;
      color: $secondary-color-2;
    }
  }
}
.img-wrapper{
  position: relative;
  width: 100%;
  height: auto;
  background-color: rgb(233, 233, 233);
  border: 1px solid #dfdfdf;
  transition: 0.2s;
  color: rgb(124, 124, 124);
  &:hover{
      background-color: rgb(204, 204, 204);
      color: rgb(71, 71, 71);
  }
  .img-info{
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right:0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .img-info-title{
      position: absolute;
      width: 100%;
      padding: 20px;
      bottom:0;

    }
    .img-info-title h4{
      font-size: 15px;
      font-family: 'Signika', sans-serif;
      font-weight: 400;
      color: inherit;
    }
    .img-info-title h6{
      font-size: 20px;
      font-family: 'Signika', sans-serif;
      font-weight: 700;
      color: inherit;
    }
    .img-info-price{
      position: absolute;
      width: 100%;
      padding: 20px;
      top:0;
    }
    .img-info-price p{
      font-size: 15px;
      font-family: 'Signika', sans-serif;
      font-weight: 400;
      color: inherit;
    }
  }
}
/* ========== CAROUSEL ===========*/

.carousel-wrapper{
  background-color: lightgray;
  position:relative;
  .carousel-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    .carousel-items{
      height: 50vh;
      background-color: lightgray;
      display: flex;
      justify-content: center;
      margin: auto;
      img{
        width: auto;
        height: 100%;
      }
    }
  }
  .direction-arrow{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    top:0;
    button{
      background-color: rgba(255,255,255,0);
      border: 0;
      font-size: 40px;
      margin: 30px;
      cursor: pointer;
    }
  }
}
/*============== BANNER ==================*/
.banner-wrapper{
  position: relative;
  width: 100%;
  height: auto;
  background-color: $secondary-color-2;
  transition: 0.2s;
  color: rgb(124, 124, 124);
  padding: 20px 20px 20px 20px;

  .banner-info{
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right:0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    color:white;
    z-index: 101;
    padding-left: 50px;
    .banner-info-title{
      position: relative;
      width: 50%;
      h1{
        font-size: 45px;
        font-family: 'Signika', sans-serif;
        font-weight: 400;
        color: inherit;
      }
    }
    .banner-info-divider{
      width: 100px;
      height: 8px;
      margin-top: 30px;
      margin-bottom: 30px;
      background-color: $primary-color;
    }
    .banner-info-description{
      position: relative;
      width: 50%;
      p{
        font-size: 15px;
        font-family: 'Signika', sans-serif;
        font-weight: 400;
        color: inherit;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
      }
    }
  }
  .banner-img-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 100;
    &::after{
      content:'';
      z-index: 100;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(90deg,rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0));
    }
  }
}
/*============ ARTICLE ============*/
.article-img-wrapper{
  width: 100%;
  padding: 50px;
}
/*============ FOOTER ============*/
.footer-wrapper{
  background-color: $secondary-color-1;
  padding: 20px;
  .footer-logo{
      display: flex;
      justify-content: center;
      img{
        width: auto;
        height: 100px;
      }
    }
  .footer-links-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-links{
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      list-style: none;
      color: $secondary-color-2;
      width: 80%;
      li{

        height: 100px;
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .footer-social{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img{
      height: 32px;
      width: 32px;
    }
  }
}
@media (max-width:1200px){
  .grid--row{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }
  .grid--col-1,.grid--col-2,.grid--col-3,.grid--col-4,.grid--col-5,.grid--col-6,.grid--col-7,.grid--col-8,.grid--col-9,.grid--col-10,.grid--col-11,.grid--col-12{
    display: flex;
    flex-flow: column wrap;
      width: 50%;
  }
  .hero-wrapper{
    .hero-title{
        font-size: 3.8em;
        display: flex;
        flex-flow: column wrap;
    }
  }
  .article-img-wrapper{
    width: 100%;
    padding: 40px;
  }
}

@media (max-width:767px){
  .grid--col-1,.grid--col-2,.grid--col-3,.grid--col-4,.grid--col-5,.grid--col-6,.grid--col-7,.grid--col-8,.grid--col-9,.grid--col-10,.grid--col-11,.grid--col-12{
    display: flex;
    flex-flow: column wrap;
      width: 100%;
  }
  .grid--col-md-1,.grid--col-md-2,.grid--col-md-3,.grid--col-md-4,.grid--col-md-5,.grid--col-md-6,.grid--col-md-7,.grid--col-md-8,.grid--col-md-9,.grid--col-md-10,.grid--col-md-11,.grid--col-md-12{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
  }
  .hero-wrapper{
    .hero-title{
        font-size: 4em;
        display: flex;
        flex-flow: column wrap;
    }
  }
  .hero2-wrapper{
    width: 100%;
    height: 100vh;
    background: $hero-2;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-transform: uppercase;
    .hero-items-wrapper{
      width: 100%;
      height: 50%;
      margin-top: auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      padding-left: 0px;
      .hero-title{
        text-align: center;
        font-family: 'Signika', sans-serif;
        font-weight: 400;
        font-size:3em;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .hero-divider{
        height: 5px;
        width: 50px;
        background-color: $primary-color;
        margin:15px 0 15px 0;
      }
      .hero-small{
        margin:15px 0 15px 0;
        font-size:1.5em;
      }
      .hero-button{
        margin:15px 0 15px 0;
        height: 50px;
        width: 200px;
        background-color: $primary-color;
        color:$secondary-color-2;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Signika', sans-serif;
      }
    }

  }
  .product-filter-title-wrapper{
    height: 100%;
    width: 100%;
    height: 80px;
    // background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $border-color;
    .product-filter-title{
      width: 100%;
      padding-left: 0%!important;
      font-family: 'Signika';
      font-weight: 400;
      font-size: 20px;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
    }
  }
  .navbar-wrapper{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    .logo-wrapper{
      font-family: 'Signika', sans-serif;
      font-weight: 400;
      font-size: 30px;
      margin: auto;
      height: 100%;
      width: auto;
      display: flex;
      align-items: center;
      color: white;
    }
    .burger-wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 36px;
      label{
        padding: 0;
        margin: 0;
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
      .nav-list-wrapper{
        display: none;
        .nav-list{
          list-style: none;
          padding: 0;
          margin: 0;
          width: 100%;
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          justify-content: center;

        }
        .nav-list-logo{
          margin-top: 24px;
          margin-bottom: auto;
        }
        .nav-list-items{
          padding: 0;
          margin: 0;
          list-style: none;
          display: flex;
          width: 100%;
          margin-bottom: auto;
          flex-direction: column;
          justify-content: center;

        }
        .nav-list li{
          width: 100%;
          transition: 0.5s;
          &:hover{
            border-left: 10px solid $primary-color;
            border-right: 10px solid $primary-color;
            transform: skewY(10deg);
          }

        }
        .nav-list a{
          text-decoration: none;
          height: 100px;
          width: 100%;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: 'Signika';
          font-weight: 400;
          font-size: 30px;
          text-transform: uppercase;
          transition: 0.2s;
        }
        .nav-list a:hover{
          color: $primary-color;
        }
      }
      label[for="burger-toggle"]{
        z-index: 999;
        transition: 0.5s;
      }
      #burger-toggle:checked ~ label[for="burger-toggle"]{
        transition: 0.5s;
        color: $primary-color;
        transform: rotateY(-180deg) rotate(90deg);
      }
      #burger-toggle:checked ~ .nav-list-wrapper{
        display: flex;
        height: 100vh;
        width: 100%;
        background-color: $secondary-color-1;
        position: absolute;
        top:0;
        left: 0;
        z-index: 900;
        transition: 2s;
      }
    }
  }

  .footer-wrapper{
    background-color: $secondary-color-1;
    padding: 10px;
    .footer-logo{
        display: flex;
        justify-content: center;
        img{
          width: auto;
          height: 100px;
        }
      }
    .footer-links-wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      .footer-links{
        padding: 0;
        margin: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        list-style: none;
        color: $secondary-color-2;
        width: 100%;
        li{
          height: auto;
          width: auto;
          padding: 20px;
          display:flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .footer-social{
      height: 50px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      img{
        height: 32px;
        width: 32px;
      }
    }
  }
  .article-img-wrapper{
    width: 100%;
    padding: 30px;
  }
}
@media (max-width:476px){
  .hero-wrapper{
    .hero-title{
        font-size: 2.5em;
        display: flex;
        flex-flow: column wrap;
    }
  }
  .hero2-wrapper{
    width: 100%;
    height: 100vh;
    background: $hero-2;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-transform: uppercase;
    .hero-items-wrapper{
      width: 100%;
      height: 100%;
      margin-top: auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      padding-left: 0px;
      .hero-title{
        text-align: center;
        font-family: 'Signika', sans-serif;
        font-weight: 400;
        font-size:2em;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .hero-divider{
        height: 5px;
        width: 50px;
        background-color: $primary-color;
        margin:15px 0 15px 0;
      }
      .hero-small{
        margin:15px 0 15px 0;
        font-size:1.5em;
      }
      .hero-button{
        margin:15px 0 15px 0;
        height: 50px;
        width: 200px;
        background-color: $primary-color;
        color:$secondary-color-2;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Signika', sans-serif;
      }
    }

  }
  .banner-wrapper{
    position: relative;
    width: 100%;
    height: auto;
    background-color: rgb(233, 233, 233);
    transition: 0.2s;
    color: rgb(124, 124, 124);
    padding: 20px 20px 20px 20px;

    .banner-info{
      position: absolute;
      top: 0;
      bottom:0;
      left: 0;
      right:0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: flex-start;
      color:white;
      z-index: 101;
      padding-left: 50px;
      .banner-info-title{
        position: relative;
        width: 50%;
        h1{
          font-size: 30px;
          font-family: 'Signika', sans-serif;
          font-weight: 400;
          color: inherit;
        }
      }
      .banner-info-divider{
        width: 100px;
        height: 5px;
        margin-top: 30px;
        margin-bottom: 30px;
        background-color: $primary-color;
      }
      .banner-info-description{
        position: relative;
        width: 50%;
        p{
          font-size: 15px;
          font-family: 'Signika', sans-serif;
          font-weight: 400;
          color: inherit;
          margin: 0;
          padding: 0;
          text-transform: uppercase;
        }
      }
    }
    .banner-img-wrapper{
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 100;
      &::after{
        content:'';
        z-index: 100;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(90deg,rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0));
      }
    }
  }
}
@media (max-width:320px) {
  .banner-wrapper{
    position: relative;
    width: 100%;
    height: auto;
    background-color: rgb(233, 233, 233);
    transition: 0.2s;
    color: rgb(124, 124, 124);
    padding: 20px 20px 20px 20px;

    .banner-info{
      position: absolute;
      top: 0;
      bottom:0;
      left: 0;
      right:0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: flex-start;
      color:white;
      z-index: 101;
      padding-left: 50px;
      .banner-info-title{
        position: relative;
        width: 50%;
        h1{
          font-size: 20px;
          font-family: 'Signika', sans-serif;
          font-weight: 400;
          color: inherit;
        }
      }
      .banner-info-divider{
        width: 100px;
        height: 5px;
        margin-top: 30px;
        margin-bottom: 30px;
        background-color: $primary-color;
      }
      .banner-info-description{
        position: relative;
        width: 50%;
        p{
          font-size: 12px;
          font-family: 'Signika', sans-serif;
          font-weight: 400;
          color: inherit;
          margin: 0;
          padding: 0;
          text-transform: uppercase;
        }
      }
    }
    .banner-img-wrapper{
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 100;
      &::after{
        content:'';
        z-index: 100;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(90deg,rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0));
      }
    }
  }
}
